{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block content %}
{% include 'hero-section.html' %}

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">

      <div class="row">
      <div class="col-lg-12 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
              <div class="col-xl-6 d-flex align-items-stretch">
              <div class="icon-box-reversed mt-4 mt-xl-0">
                <a href="/sign-in/?next=/patient/" class="btn">
                    <h4>The Patients' Corner <i class="fas fa-torii-gate"></i></h4>
                </a>
                <p>A platform that attend to your health concerns in a unique, memorable and friendly way.</p>
                <p class="text-center mt-3">
                    New to Medilab MMS? <a href="/sign-up/?next=/patient/" class="text-white"><b>Sign Up</b></a>
                </p>
              </div>
              </div>
              <div class="col-xl-6 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                  <a href="/sign-in/?next=/doctor/" class="btn">
                    <h4>The Doctors' Corner <i class="fas fa-torii-gate"></i></h4>
                  </a>
                  <p>Digitalizing the professional your are in a special way,</p>
                  <p class="text-center mt-3">
                    New to Medilab MMS? <a href="/sign-up/?next=/doctor/"><b>Sign Up</b></a>
                </p>
              </div>
              </div>
          </div>
          </div><!-- End .content-->
      </div>
      </div>
  </div>
  </section><!-- End Why Us Section -->

{% endblock content %}