{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Sign Up</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Sign Up</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container login-container">
        <div class="row justify-content-center">
            <div class="col-md-5 login-form">
                <h4 class="text-center text-uppercase mb-3">
                    <b>
                        {% if request.GET.next != "/doctor/" %}
                        Patient
                        {% else %}
                        Doctor
                        {% endif %}
                    </b>
                </h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}

                    <input type="hidden" value=
                    {% if request.GET.next != "/doctor/" %}
                    "PATIENT"
                    {% else %}
                    "DOCTOR"
                    {% endif %} name="user_type">

                    {% comment %} make user_type hidden auto based on request.GET.next {% endcomment %}
                    <div class="form-group mb-2">
                        <input type="submit" class="btnSubmit" value="Sign Up" />
                    </div>
                    <p class="text-center mt-3">
                        Already have an account? <a href="/sign-in/?next={{ request.GET.next }}"><b>Sign In</b></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section
{% endblock content %}