{% extends 'modals/base-modal.html' %}

{% block modal-id %}id="appointmentModal"{% endblock modal-id %}
{% block modal-title %}Medilab - Apppointment Booking {% endblock modal-title %}

{% block form %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="modal-body">
        {{ record.case_type }}
        {{ appointment_form }}
        
        {% if distinct_doctors %}
        <div class="form-group">
            <label for="doctor">Available Doctors</label>
            <select class="form-control" name="doctor" id="doctor">
                {% for doctor in distinct_doctors %}
                <option value={{doctor.user.id}}>{{doctor.user.get_full_name | title }} - {{doctor.speciality}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <input type="hidden" name="dataRowId" id="dataRowId" value=""/>
    </div>
  
    <input type="hidden" value="appointment" name="action">
    <button type="submit" class="btn appointment-btn">Save</button>
</form>
{% endblock form %}
{% block close %}{% endblock close %}