{% extends 'modals/base-modal.html' %}

{% block modal-id %}id="appointmentModal"{% endblock modal-id %}
{% block modal-title %}Medilab - Apppointment Booking {% endblock modal-title %}

{% block form %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="modal-body">
        {{ appointment_form }}

        {% if distinct_doctors %}
        <div class="form-group">
            <label for="doctor">Available Doctors</label>
            <select class="form-control" name="doctor" id="doctor">
                {% for user, speciality in distinct_doctors %}
                <option>{{user.first_name}} - {{speciality}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
    </div>
    
    
    
  
    <input type="hidden" value="appointment" name="action">
    <button type="submit" class="btn appointment-btn">Save</button>
</form>
{% endblock form %}
{% block close %}{% endblock close %}