{% extends 'modals/base-modal.html' %}

{% block modal-id %}id="medicsModal"{% endblock modal-id %}
{% block modal-title %}{{ request.user.first_name | title }} - Health Complaint Form{% endblock modal-title %}

{% block form %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="modal-body">
        {{ medics_form }}
    </div>
  
    <input type="hidden" value="medics" name="action">
    <button type="submit" class="btn appointment-btn">Save</button>
</form>
{% endblock form %}
{% block close %}{% endblock close %}