{% extends 'modals/base-modal.html' %}

{% block modal-id %}id="profileModal"{% endblock modal-id %}
{% block modal-title %}{{ request.user.first_name | title }} - Medical Information{% endblock modal-title %}

{% block form %}
<form action="#" method="POST">
    {% csrf_token %}
    <div class="modal-body">
        {{ user_form }}
        {{ patient_form }}
    </div>
  
    <input type="hidden" value="profile" name="action">
    <div class="form-group mb-2">
        <input type="submit" class="btn appointment-btn" value="Save" />
    </div>
    
</form>
{% endblock form %}
{% block close %}{% endblock close %}